.container-fluid {
    widows: 90%;
    height: 100vh;
    position: absolute;
}


#hubsearch{
    margin-left:-15%;
    margin-top: 250px;
    font-size:40px;
}

.body{
    background-color: palegoldenrod;
}
.hub{
    background-color: burlywood;
}
.set{
    color:grey;
}