.image1{
    position: relative;
}
.avatar{
    align-content:center;
    margin-left: 30%;
    outline: cyan;

}
body{
    background-color: palegoldenrod;
    background-image: url(/src/assets/images.jpeg);
}
.form-group{
    color: springgreen;
}
#repotag{
    text-shadow: purple;
    text-size-adjust: 40px;
    color:brown;
}